.app-container {
    width: 100vw;
    height: 100vh;
    background-color: #d6d7da;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-container {
    /* height: 90vh;
    width: 90vw; */
    height: 85vh;
    width: 65vw;
    display: flex;
    flex-direction: row;

}

.left-container {
    background-color: #ffffff;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    flex: 3;
}

.right-container {
    /* background-color: gray; */
    background-color: #f6f6f8;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    flex: 7;
}


body {
    scroll-behavior: smooth;
}











/* Mobile View */
@media (max-width: 768px) {
    .weather-container {
        flex-direction: column;
        height: auto;
        width: 90vw;
    }

    .left-container,
    .right-container {
        width: 100%;
        border-radius: 0;
        flex: none;
    }

    .right-container-navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-tabs {
        margin-left: 0;
        margin-top: 0;
        flex-direction: column;
    }

    .navbar-metric {
        margin-right: 0;
        margin-top: 10px;
        width: 100%;
        justify-content: space-around;
    }

    .right-container-data-box {
        margin: 10px;
    }

    .right-container-week-cards,
    .right-container-today-cards {
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin-bottom: 10px;
    }

    .right-container-todays-highlight-cards {
        flex-direction: column;
    }

    .right-container-todays-highlight-card {
        width: 100%;
        margin: 10px 0;
    }
}

/* Tablet View */
@media (min-width: 769px) and (max-width: 1024px) {
    .weather-container {
        width: 85vw;
        height: auto;
    }

    .right-container-data-box {
        margin: 20px;
    }

    .right-container-week-cards,
    .right-container-today-cards {
        flex-wrap: wrap;
    }

    .card {
        width: 45%;
        margin: 5px;
    }

    .right-container-todays-highlight-cards {
        flex-wrap: wrap;
    }

    .right-container-todays-highlight-card {
        width: 45%;
        margin: 5px;
    }
}

/* Desktop View */
@media (min-width: 1025px) {
    .weather-container {
        width: 65vw;
    }

    .right-container-data-box {
        margin: 30px;
    }

    .right-container-week-cards,
    .right-container-today-cards {
        flex-wrap: nowrap;
    }

    .card {
        width: 75px;
        margin: 0 5px;
    }

    .right-container-todays-highlight-cards {
        flex-wrap: nowrap;
    }

    .right-container-todays-highlight-card {
        width: 180px;
        margin: 10px;
    }
}


/* 
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV 

*/

